# Income tax calculator

### income based on the salary slip

In [4]:
import pandas as pd
import numpy as np

### tax rate

In [28]:
def gross_tax(chargeable_inc):
    tax = 0
    if 20000 < chargeable_inc <= 30000:
        tax = 0.02*(chargeable_inc-20000)
    if 30000 < chargeable_inc <= 40000:
        tax = 0.035*(chargeable_inc-30000) + 200    
    if 40000 < chargeable_inc <= 80000:
        tax = 0.07*(chargeable_inc-40000) + 550  
    if 80000 < chargeable_inc <= 120000:
        tax = 0.115*(chargeable_inc-80000) + 3350 
    if 120000 < chargeable_inc <= 160000:
        tax = 0.15*(chargeable_inc-160000) + 7950
    tax = round(tax, 2)
    return tax

### DL income

In [5]:
jan_earn, jan_cpf, jan_cdac = 8000, 1200, 3
feb_earn, feb_cpf, feb_cdac = 8000, 1200, 3
mar_earn, mar_cpf, mar_cdac = 8000, 1200, 3
apr_earn, apr_cpf, apr_cdac = 8000, 1200, 3
may_earn, may_cpf, may_cdac = 8000, 1200, 3
jun_earn, jun_cpf, jun_cdac = 8476, 1200, 3 
jul_earn, jul_cpf, jul_cdac = 8000, 1200, 3
aug_earn, aug_cpf, aug_cdac = 8000, 1200, 3
sep_earn, sep_cpf, sep_cdac = 8000, 1200, 3
oct_earn, oct_cpf, oct_cdac = 8000, 1200, 3
nov_earn, nov_cpf, nov_cdac = 8000, 1200, 3
dec_earn, dec_cpf, dec_cdac = 8000, 1200, 3

In [8]:
total_earn = jan_earn + feb_earn + mar_earn + apr_earn + may_earn + jun_earn + jul_earn + aug_earn + sep_earn + oct_earn + nov_earn + dec_earn

### DL deduction

In [10]:
donation = jan_cdac + feb_cdac + mar_cdac + apr_cdac + may_cdac + jun_cdac + jul_cdac + aug_cdac + sep_cdac + oct_cdac + nov_cdac + dec_cdac

In [31]:
earned_income = 1000
child_qcr = 4000
dl_qcr = 2000
ym_qcr = child_qcr - dl_qcr

dl_cpf = jan_cpf + feb_cpf + mar_cpf + apr_cpf + may_cpf + jun_cpf + jul_cpf + aug_cpf + sep_cpf + oct_cpf + nov_cpf + dec_cpf

dl_srs = 1

cpf_cash_top_up = 16000
dl_cpf_cash_top_up = 0
ym_cpf_cash_top_up = cpf_cash_top_up - dl_cpf_cash_top_up

### DL chargeable income

In [17]:
chargeable_income = total_earn - donation - dl_qcr - dl_cpf - dl_srs - dl_cpf_cash_top_up

### YM income salary

In [ ]:
ym_earn_salary = 65000

### YM deduction

In [ ]:
ym_donation = 36
ym_cpf = 15000

### YM rental income

In [32]:
ym_earn_rental = 3450*12

### YM rental income deduction

In [ ]:
ym_earn_rental_management = 255*12
ym_earn_rental_repair = 600